body {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.header {
  background-color: #4d4d4d;
  display: flex;
  height: 13vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.navbar_link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.fantasy {
  font-family: fantasy;
}

.logo {
  color: white;
  font-size: 2.5vw;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  background-color: #4d4d4d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.getcolor_header {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
  margin-top: 50px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.getcolor_header_text {
  font-family: fantasy;
  margin-left: 20px;
  font-weight: 500;
  font-size: 40px;
}

.getcolor_content {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 20px;
}

.getcolor_text1_style {
  color: #0373bd;
  font-weight: 700;
  font-size: 1.8em;
  font-family: initial;
}

.form_control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.getColor_selectPart {
  border: 1px solid #0373db;
  padding: 30px 20px 15px;
  position: relative;
  margin-bottom: 50px;
}

.getColor_start_text {
  background: #fff;
  text-align: center;
  width: 200px;
  color: #0373db;
  font-weight: 700;
  display: block;
  font-size: 2.3em;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.findColorBtn {
  background-color: #007bff;
  color: white;
  border: 0;
  width: 185px;
  height: 35px;
  margin-top: 20px;
  border-radius: 5px;
}

#color-display-table .color-box {
  width: 130px;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#color-display-table .color-box span {
  height: 36px;
  display: block;
  margin: 5px;
  border: 1px solid #000;
}

.spinners {
  display: flex;
  justify-content: center;
}

#color-display-table td.color-info {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#color-display-table td.color-info span.color-code {
  display: block;
  font-size: 1.1em;
  text-align: left;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

#color-display-table td.color-info span.color-name {
  display: block;
  font-size: 1.2em;
  text-align: left;
}

#color-display-table {
  font-size: 0.8em;
  width: 100%;
  margin-bottom: 12vh;
  float: left;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .getcolor_header_text {
    font-size: 30px;
  }
  .footer {
    height: 8vh;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .paintscratch {
    display: none;
  }

  .nav-elements {
    position: absolute;
    right: -20px;
    top: 45px;
    background-color: #4d4d4d;
    width: 0px;
    height: calc(100vh - 12vh);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

@media screen and (max-width: 1500px) {
  .getcolor_content {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .getcolor_content {
    width: 55%;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    font-size: 3.5vw;
  }
  .header {
    height: 10vh;
  }
  .getcolor_content {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 4vw;
  }
  .getcolor_content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 5.5vw;
  }
  .header {
    height: 8vh;
    padding: 0 20px;
  }
  .getcolor_content {
    width: 90%;
  }
}
